body {

    margin: 0;
    
    padding: 0;
    
    height: 100vh;
    
    background: linear-gradient(135deg, #28f140, #5ab366);
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    font-family: 'Arial', sans-serif;
    
    }
    
    .stopwatch-container {
    
    text-align: center;
    
    background: rgba(255, 255, 255, 0.1);
    
    padding: 40px 20px;
    
    border-radius: 20px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
    }
    
    .time-display {
    
    font-size: 4em;
    
    font-weight: bold;
    
    margin: 20px 0;
    
    color: #ffffff;
    
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
    
    }
    
    .buttons button {
    
    padding: 10px 20px;
    
    margin: 10px;
    
    border: 2px solid #c9c7c7;
    
    box-shadow: 1px 1px 1px #12121250;
    
    border-radius: 10px;
    
    font-size: 1.2em;
    
    cursor: pointer;
    
    color: #fff;
    
    transition: background-color 0.3s;
    
    }
    
    .start {
    
    background-color: #2006e7;
    
    }
    
    .start:hover {
    
    background-color: #4845ef;
    
    }
    
    .pause {
    
    background-color: #d5a003;
    
    }
    
    .pause:hover {
    
    background-color: #fbc31d;
    
    }
    
    .reset {
    
    background-color: #dc3545;
    
    }
    
    .reset:hover {
    
    background-color: #ec4656;
    
    }
    
    